@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<style>
    .prodContainer .product-item a {
        text-decoration: none;
        color: black;
    }

    .product-item mark {
        background-color: red;
        border-radius: 4px;
        color: whitesmoke;
    }

    .product-item img {
        width: 100%;
        border-radius: 4px;
    }

    .product-item {
        width: 100%;
        flex: 1;
    }

    .prodDescription {
        font: arial;
        font-size: 15px;
    }

    .prodPrice s {
        color: lightgrey;
    }

    .productNew {
        display: flex;
        justify-content: space-between;
        gap: 50px;
    }

        .productNew img {
            height: 50%;
        }

    #prodNew {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        #prodNew h2 {
            font: arial;
            font-size: 2rem;
            margin-bottom: 10px;
        }
    .productNew .product-item a {
        text-decoration: none;
        color: black;
    }

        .productNew .product-item a:hover {
            color: blue;
        }
</style>
<div id="prodNew">

    <div>
        <h2 class="title">Tìm kiếm sản phẩm</h2>
    </div>
</div>

<div class="productNew">
    <div class="product-item">
        <a href="~/Product/ProductDetail8">
            <img src="../Content/img/sp6.jpg" class="img-fluid" alt="Product 6" onclick="goToProductDetail(6)" />
            <p class="prodDescription">
                Breakneck - CD Key
            </p>
            <p class="prodPrice">
                <b>49.000đ</b> <s>99.000đ</s> <mark>-51%</mark>
            </p>
        </a>
    </div>
    <div class="product-item">
        <a href="~/Product/ProductDetail9">
            <img src="../Content/img/sp6.1.jpg" class="img-fluid" alt="Product 6.1" onclick="goToProductDetail(6.1)" />
            <p class="prodDescription">
                LEGO 2K Drive - CD Key
            </p>
            <p class="prodPrice">
                <b>
                    219.000đ
                </b>
                <s>
                    500.000đ
                </s>
                <mark>
                    -56%
                </mark>
            </p>
        </a>
    </div>
    <div class="product-item">
        <a href="~/Product/ProductDetail10">
            <img src="../Content/img/sp6.2.png" class="img-fluid" alt="Product 6.2" onclick="goToProductDetail(6.2)" />
            <p class="prodDescription">
                CapCut Pro 77 Ngày - Nâng cấp chính chủ
            </p>
            <p class="prodPrice">
                <b>199.000đ</b> <s>470.000đ</s> <mark>-58%</mark>
            </p>
        </a>
    </div>
    <div class="product-item">
        <a href="~/Product/ProductDetail11">
            <img src="../Content/img/sp6.3.jpg" class="img-fluid" alt="Product 6.3" onclick="goToProductDetail(6.3)" />
            <p class="prodDescription">
                Call of Cthulhu (CD-Key)
            </p>
            <p class="prodPrice">
                <b>
                    149.000đ
                </b>
                <s>
                    270.000đ
                </s>
                <mark>-45%</mark>
            </p>
        </a>
    </div>
</div>

