@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Detail</title>
    <link href="~/Content/MyCSS/StyleProduct.css" rel="stylesheet" />
    <script src="~/Scripts/MyJS/JavaProduct.js"></script>
</head>
<body>
    <div class="product-detail">
        <div class="product-header">
            <div class="product-image">
                <img src="~/Content/img/GOI NAP STEAM 50usd.png" alt="Black Myth: Wukong" />
                <button class="view-more-images">Xem thêm ảnh</button>
            </div>

            <!-- Thông tin chi tiết sản phẩm -->
            <div class="product-info">
                <h1>Gói nạp Steam Wallet 50$ ( Nạp chậm ) (~1.243.100 VNĐ)</h1>
                <p class="product-status">Tình trạng: <span class="in-stock">Còn hàng</span></p>
                <p class="product-code">
                    Mã sản phẩm: nap steam 50$
                </p>
                <p class="product-category">
                    Thể loại: steam, wallet, goinapwallet
                </p>
                <p class="product-price">1.200.000đ<span class="original-price">1.300.000đ</span> <span class="discount">-8%</span></p>

                <!-- Các tùy chọn khác cho sản phẩm -->
                <div class="product-options">
                    <button class="option-button">20$</button>
                    <button class="option-button">50$</button>
                    <button class="option-button">100$</button>
                    <button class="option-button">Code nạp ngay</button>
                </div>

                <!-- Nút Mua ngay và Thêm vào giỏ hàng -->
                <div class="purchase-buttons">
                    <button class="buy-now">Mua ngay</button>
                    <button class="add-to-cart">Thêm vào giỏ</button>
                </div>
            </div>
        </div>
        <!-- Mô tả chi tiết sản phẩm -->
        <div class="product-description">
            <p>Khách hàng giao lại tài khoản Steam cho shop (bao gồm ID, Pass, Backup code) trong vòng tối đa 24h (trong khung giờ 07h - 24h) shop sẽ nạp đủ số wallet.</p>
            <ul>
                <li>Vui lòng không thay đổi thông tin tài khoản.</li>
                <li>Giá thuê tài khoản tính theo ngày. Ví dụ bạn muốn mua 5 ngày thì chọn số lượng sản phẩm là 5.</li>
                <li>Divine Shop cam kết chỉ cho 1 khách hàng thuê tại 1 thời điểm.</li>
                <li>Tài khoản có thể đã có file save sẵn, bạn có thể xóa đi và chơi từ đầu.</li>
                <li>Thuê tối thiểu 3 ngày.</li>
            </ul>
        </div>
    </div>

</body>
</html>

