@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Detail</title>
    <link href="~/Content/MyCSS/StyleProduct.css" rel="stylesheet" />
    <script src="~/Scripts/MyJS/JavaProduct.js"></script>
</head>
<body>
    <div class="product-detail">
        <div class="product-header">
            <div class="product-image">
                <img src="~/Content/img/sp3.png" alt="Black Myth: Wukong" />
                <button class="view-more-images">Xem thêm ảnh</button>
            </div>

            <!-- Thông tin chi tiết sản phẩm -->
            <div class="product-info">
                <h1>Spotify Premium 1 năm - Gia hạn chính chủ</h1>
                <p class="product-status">Tình trạng: <span class="in-stock">Còn hàng</span></p>
                <p class="product-code">Mã sản phẩm:  spotify-12m</p>
                <p class="product-category">
                    Thể loại: App, Giải trí, Spotify, Nghe nhạc
                </p>
                <p class="product-price">390.000đ<span class="original-price">708.000đ</span> <span class="discount">-45%</span></p>

                <!-- Các tùy chọn khác cho sản phẩm -->
                <div class="product-options">
                    <button class="option-button">TK 1 tuần</button>
                    <button class="option-button">TK 1 tháng</button>
                    <button class="option-button">TK 3 tháng</button>
                    <button class="option-button">TK 6 tháng</button>
                </div>

                <!-- Nút Mua ngay và Thêm vào giỏ hàng -->
                <div class="purchase-buttons">
                    <button class="buy-now">Mua ngay</button>
                    <button class="add-to-cart">Thêm vào giỏ</button>
                </div>
            </div>
        </div>
        <!-- Mô tả chi tiết sản phẩm -->
        <div class="product-description">
            <p>Spotify có thể đăng nhập được ở trên rất nhiều thiết bị khác nhau như: Điện thoại, Máy tính, Máy tính bảng, Tivi thậm chí cả trên Ô tô. Giúp người dùng đồng bộ và xây dựng các album riêng cho mình một cách cực kì dễ dàng và hiệu quả. </p>
            <ul>
                <li>Vui lòng không thay đổi thông tin tài khoản.</li>
                <li>Giá thuê tài khoản tính theo ngày. Ví dụ bạn muốn mua 5 ngày thì chọn số lượng sản phẩm là 5.</li>
                <li>Divine Shop cam kết chỉ cho 1 khách hàng thuê tại 1 thời điểm.</li>
                <li>Tài khoản có thể đã có file save sẵn, bạn có thể xóa đi và chơi từ đầu.</li>
                <li>Thuê tối thiểu 3 ngày.</li>
            </ul>
        </div>
    </div>

</body>
</html>

