.sidebar {
    width: 250px; /* Chiều rộng ban đầu của sidebar */
    background-color: #4CAF50; /* Màu nền sidebar */
    color: white; /* Màu chữ trong sidebar */
    padding: 20px;
    transition: width 0.3s, padding 0.3s;
    overflow: hidden; /* Ẩn nội dung khi sidebar thu lại */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Thêm bóng cho sidebar */
}

    .sidebar.collapsed {
        width: 50px; /* Chiều rộng khi sidebar bị thu lại */
        padding: 0; /* Ẩn padding khi thu lại */
        text-align: center; /* Căn giữa nội dung */
    }



.carousel {
    position: relative;
    width: 100%;
    max-width:80%; /* Kích thước tối đa của carousel */
    margin: 20px auto; /* Căn giữa carousel với khoảng cách trên và dưới */
    overflow: hidden; /* Ẩn các phần bên ngoài */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Thêm bóng cho carousel */
}
.carousel-item {
    display: none; /* Ẩn tất cả các slide */
    padding: 20px;
    text-align: center;
    background-color: #fff; /* Màu nền cho từng slide */
    border-radius: 5px; /* Bo tròn góc cho slide */
}
    .carousel-item.active {
        display: block; /* Hiện slide đang hoạt động */
    }

    /*Sản phẩm*/
    a:hover {
    text-decoration: underline;
}
    #featureProd {
    text-align: left;
}

    #featureProd h2 {
        font: arial;
        font-size: 2rem;
        margin-bottom: 10px;
    }

    #featureProd h1 {
        font: arial;
        font-size: 1rem;
    }

.prodContainer {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

#textFeature {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.explore-button {
    background-color: #1d38ea;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.product-item mark {
    background-color: red;
    border-radius: 4px;
    color: whitesmoke;
}

.product-item img {
    width: 100%;
    border-radius: 4px;
}

.product-item {
    width: 100%;
    flex: 1;
}

.prodDescription {
    font: arial;
    font-size: 15px;
}

.prodPrice s {
    color: lightgrey;
}

.button-container2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btn1 {
    background-color: #2d4a4c; /* Màu nền nút */
    color: white; /* Màu chữ */
    border: none; /* Không có viền */
    padding: 15px; /* Khoảng cách bên trong */
    text-align: center; /* Canh giữa văn bản */
    text-decoration: none; /* Không gạch chân */
    font-size: 16px; /* Kích thước chữ */
    cursor: pointer; /* Con trỏ khi di chuột */
    border-radius: 4px; /* Bo tròn góc */
    flex: 1; /* Mỗi nút chiếm đều không gian */
    margin: 0 5px; /* Khoảng cách giữa các nút */
    height: 60px;
}

.btn2 {
    background-color: #92dcec; /* Màu nền nút */
    color: white; /* Màu chữ */
    border: none; /* Không có viền */
    padding: 15px; /* Khoảng cách bên trong */
    text-align: center; /* Canh giữa văn bản */
    text-decoration: none; /* Không gạch chân */
    font-size: 16px; /* Kích thước chữ */
    cursor: pointer; /* Con trỏ khi di chuột */
    border-radius: 4px; /* Bo tròn góc */
    flex: 1; /* Mỗi nút chiếm đều không gian */
    margin: 0 5px; /* Khoảng cách giữa các nút */
    height: 60px;
}

.btn3 {
    background-color: #c76437; /* Màu nền nút */
    color: white; /* Màu chữ */
    border: none; /* Không có viền */
    padding: 15px; /* Khoảng cách bên trong */
    text-align: center; /* Canh giữa văn bản */
    text-decoration: none; /* Không gạch chân */
    font-size: 16px; /* Kích thước chữ */
    cursor: pointer; /* Con trỏ khi di chuột */
    border-radius: 4px; /* Bo tròn góc */
    flex: 1; /* Mỗi nút chiếm đều không gian */
    margin: 0 5px; /* Khoảng cách giữa các nút */
    height: 60px;
}

.btn4 {
    background-color: #2d4a4c; /* Màu nền nút */
    color: white; /* Màu chữ */
    border: none; /* Không có viền */
    padding: 15px; /* Khoảng cách bên trong */
    text-align: center; /* Canh giữa văn bản */
    text-decoration: none; /* Không gạch chân */
    font-size: 16px; /* Kích thước chữ */
    cursor: pointer; /* Con trỏ khi di chuột */
    border-radius: 4px; /* Bo tròn góc */
    flex: 1; /* Mỗi nút chiếm đều không gian */
    margin: 0 5px; /* Khoảng cách giữa các nút */
    height: 60px;
}

.btn5 {
    background-color: #696161; /* Màu nền nút */
    color: white; /* Màu chữ */
    border: none; /* Không có viền */
    padding: 15px; /* Khoảng cách bên trong */
    text-align: center; /* Canh giữa văn bản */
    text-decoration: none; /* Không gạch chân */
    font-size: 16px; /* Kích thước chữ */
    cursor: pointer; /* Con trỏ khi di chuột */
    border-radius: 4px; /* Bo tròn góc */
    flex: 1; /* Mỗi nút chiếm đều không gian */
    margin: 0 5px; /* Khoảng cách giữa các nút */
    height: 60px;
}

#gameSteam {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnGameSteam {
    background-color: #1d38ea;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

#productList h2 {
    font: arial;
    font-size: 2rem;
    margin-bottom: 10px;
}

#productList h1 {
    font: arial;
    font-size: 1rem;
}

.prodSteam {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

    .prodSteam img {
        height: 60%;
    }

#prodNew {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    #prodNew h2 {
        font: arial;
        font-size: 2rem;
        margin-bottom: 10px;
    }

.btnprodNew {
    background-color: #1d38ea;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.productNew {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

    .productNew img {
        height: 50%;
    }

#prodStudy {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    #prodStudy h2 {
        font: arial;
        font-size: 2rem;
        margin-bottom: 10px;
    }

.btnprodStudy {
    background-color: #1d38ea;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.productStudy {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

    .productStudy img {
        height: 50%;
    }

#prodEntertainment {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    #prodEntertainment h2 {
        font: arial;
        font-size: 2rem;
        margin-bottom: 10px;
    }

.btnprodEntertainment {
    background-color: #1d38ea;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.productEntertainment {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

    .productEntertainment img {
        height: 50%;
    }

#prodWork {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    #prodWork h2 {
        font: arial;
        font-size: 2rem;
        margin-bottom: 10px;
    }

.btnprodWork {
    background-color: #1d38ea;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.productWork {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

    .productWork img {
        height: 50%;
    }


.prodContainer .product-item a {
    text-decoration: none;
    color: black;
}

    .prodContainer .product-item a:hover {
        color: blue;
    }

.productWork .product-item a {
    text-decoration: none;
    color: black;
}

    .productWork .product-item a:hover {
        color: blue;
    }

.button-container2 .btn1 a {
    text-decoration: none;
    color: whitesmoke;
}

    .button-container2 .btn1 a:hover {
        color: blue;
    }

.productEntertainment .product-item a {
    text-decoration: none;
    color: black;
}

.button-container2 .btn2 a {
    text-decoration: none;
    color: whitesmoke;
}

    .button-container2 .btn2 a:hover {
        color: blue;
    }

.button-container2 .btn3 a {
    text-decoration: none;
    color: whitesmoke;
}

    .button-container2 .btn3 a:hover {
        color: blue;
    }

.productEntertainment .product-item a:hover {
    color: blue;
}

.productStudy .product-item a {
    text-decoration: none;
    color: black;
}

    .productStudy .product-item a:hover {
        color: blue;
    }

.productStudy .product-item a {
    text-decoration: none;
    color: black;
}

    .productStudy .product-item a:hover {
        color: blue;
    }

.productNew .product-item a {
    text-decoration: none;
    color: black;
}

    .productNew .product-item a:hover {
        color: blue;
    }
.button-container2 .btn4 a {
    text-decoration: none;
    color: whitesmoke;
}

    .button-container2 .btn4 a:hover {
        color: blue;
    }
.button-container2 .btn5 a {
    text-decoration: none;
    color: whitesmoke;
}

    .button-container2 .btn5 a:hover {
        color: blue;
    }
    a{
        text-decoration: none;
    }
  .prodSteam .product-item a{
      text-decoration: none;
      color: black;
  }
.prodSteam .product-item a:hover {
    color: blue;
}
